<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Yodii.Lab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Yodii.Lab.Properties.Settings>
      <setting name="LastAutosaveFileContents" serializeAs="String">
        <value />
      </setting>
      <setting name="LastAutosaveFilePath" serializeAs="String">
        <value />
      </setting>
    </Yodii.Lab.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <assert assertuienabled="true" />
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.7.0" newVersion="2.6.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>