<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="Get-Package public Civikey feed" value="https://get-package.net/feed/Invenietis/feed-Civikey/" />
  </packageSources>
</configuration>